<% module_namespacing do -%>
# frozen_string_literal: true

class <%= class_name %>Beacon < Beaconable::BaseBeacon
  alias <%= file_name %> object
  alias <%= file_name %>_was object_was

  def call
    # Put your callbacks and side-effects here
  end
end
<% end -%>